pandas
numpy
scikit-learn
matplotlib
seaborn
scipy

# Evaluation & Metrics
matplotlib
seaborn

# Live Demo UI
ipywidgets

# Saving and loading fitted sklearn models (scalers, TF-IDF, KMeans)
# Saves time by removing the need to rerun notebook
joblib